/* Agency_task_area */
.protfolio_area{
    display: block;
    overflow: hidden;
    padding: 0 78px 130px;
    background: url("../images/protfoilo/protfolio-bg.png") no-repeat center bottom;
    .coustom_container{
        @media(min-width: 1366px){
            max-width: 1345px;
            margin-left: 200px; 
        }
    }
    .tittle{
        display: block;
        overflow: hidden;
        img{
            display: block;
        }
        h2{
            font: 400 52px/62px $nira;
            color: #382c4d;
            max-width: 470px;
            float: left;
        }
        .complete_task{
            border: 3px solid rgb(251, 248, 255);
            background: rgb(253, 252, 255);
            padding: 32px;
            text-align: center;
            max-width: 303px;
            float: right;
            margin-top: -50px;
            h1{
                font: 700 82px/1 $nira;
                color: $bc;
                display: block;
                small{
                    font-size: 30px;
                }
                span{
                    color: #ff7c7c;
                    font-size: 30px;
                    font-weight: 400;
                    position: relative;
                    top: 15px;
                    left: 5px;
                }
            }
            a{
                font: 400 20px/30px $nira;
                color: #39436f;
                border-bottom: 1px solid #b188fb;
                display: inline-block;
                padding-top: 30px;
                &:hover, &:focus{
                    color: $bc;
                }
            }
        }
    }
    .protfoli_filter{
        text-align: center;
        padding: 70px 0 55px;
        li{
            display: inline-block;
            a{
                font: 400 21px/45px $nira;
                color: #382c4d; 
                text-align: center;
                padding: 0 20px;
                display: block;
            }
            &:hover, &:focus, &.active{
                a{
                    color: #fff;
                    background: $bc;
                    box-shadow: 0px 22px 38px 0px rgba(166, 116, 241, 0.35);
                }
            }
        }
    } 
    .protfoli_inner{
        .work-items{
            margin-bottom: 30px;
            display: block;
            overflow: hidden;
            border-radius: 10px;
            @include transition;
            img{
                max-width: 100%;
                transition: all 500ms linear 0s;
            }
            &:hover, &:focus{
//                box-shadow: 0 7px 25px 4px rgba(137,173,255,.35);
                box-shadow: 0px 22px 38px 0px rgba(166, 116, 241, 0.35);
                img{
                    transform: scale3D(1.2, 1.2, 2);
                }
            }
        }
    }
}
/* End Agency_task_area */

/* Portfolio_grid */
.portfolio_grid{
    display: block;
    overflow: hidden;
    padding: 200px 0 50px;
    
    .portfolio_tittle{
        padding-left: 200px;
        h4{ 
            font: 700 18px/1 $nira;
            color: $heding;
            padding-bottom: 53px;
        }
        h2{
            font: 400 52px/62px $nira;
            color: $heding;
            padding-bottom: 70px;
        }
        .theme_btn{
            border: 1px solid #f2e3ff;
            background-color: transparent;
            color: $bc;
            min-width: 210px;
            line-height: 48px; 
        }
    }
    .protfoli_filter{
        li{ 
            float: left;
            border: 1px solid #f2e3ff;
            border-left: 0;
            &:first-child{
                border-left:  1px solid #f2e3ff;
            }
            a{
                font: 700 18px/50px $nira;
                color: $bc; 
                display: inline-block;
                min-width: 128px;
                text-align: center;
                padding: 0 20px;
            }

            &:hover, &:focus, &.active{
                a{ 
                    color: #fff;
                    background: $bc;
                }
            }
        }
    }
    .portfolio_row{
        max-width: 1546px;
        margin: 0;
        .portfoli_right{  
            padding: 0;
            padding-left: 45px; 
        }
        .portfoli_inner{
            .portfolio_item{
                display: block;
                overflow: hidden;
                border-radius: 10px;
                margin-bottom: 30px;
                box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
                img{
                    max-width: 100%;
                    transition: all 500ms linear 0s;
                }
                &:hover, &:focus{
                    box-shadow: 0px 22px 38px 0px rgba(166, 116, 241, 0.35);
                    img{
                        transform: scale3D(1.2, 1.2, 2);
                    }
                }
            }
        }
    }
    
    .pi_2{
        .portfolio_item{ 
            position: relative;
            margin-bottom: 30px;
            overflow: hidden;
            .portfolio_hover{
                position: absolute;
                left: 0;
                top: 100%;
                right: 100%;
                bottom: 0; 
                display: block;
                border-radius: 10px 10px 10px 0px; 
                background-color: rgba(201, 161, 255, 0.831);
                transition: all 300ms linear 0s; 
                i{ 
                    line-height: 55px;
                    text-align: center;
                    width: 55px;
                    color: $bc; 
                    height: 55px; 
                    background: #fff;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    @include transition;
                    &:before{
                        line-height: 55px;
                        font-size: 25px;
                    }
                    &:hover, &:focus{
                        background: $bc;
                        color: #fff;
                    }
                }
            }
            &:hover, &:focus{
                box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
                .portfolio_hover{
                    top: 20px;
                    right: 20px;
                }
            }
        }
    }
    .pi_3{
        margin: 0;
        .portfolio_item{ 
            position: relative; 
            overflow: hidden; 
            &:before{
                content: "";
                width: 50%;
                height: 50%;
                background-color: rgba(27, 2, 66, 0.651);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all 0.5s ease 0s;
            }
            &:after{
                content: "";
                width: 50%;
                height: 50%;
                background-color: rgba(27, 2, 66, 0.651);
                position: absolute;
                top: 50%;
                left: 0;
                opacity: 0;
                transition: all 0.5s ease 0s;
            }
            .portfolio_hover{ 
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0; 
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                @include transition;
                &:before{
                    content: "";
                    width: 50%;
                    height: 50%;
                    background-color: rgba(27, 2, 66, 0.651);
                    position: absolute;
                    top: 0;
                    left: 50%; 
                    opacity: 0;
                    transition: all 0.5s ease 0s;
                }
                &:after{
                    content: "";
                    width: 50%;
                    height: 50%;
                    background-color: rgba(27, 2, 66, 0.651);
                    position: absolute;
                    top: 50%; 
                    left: 50%; 
                    opacity: 0;
                    transition: all 0.5s ease 0s;
                }
                a{
                    font: 700 21px/1 $nira;
                    color: #fff;
                    text-align: center;
                    position: relative;
                    z-index: 1;
                    padding: 15px;
                    span{
                        font-weight: 400;
                        font-size: 16px;
                        display: block;
                        padding-top: 30px;
                        color: #e7d7ff;
                    } 
                    &:hover, &:focus{
                        color: $hover;
                    }
                }
                
                .icons{ 
                    line-height: 55px;
                    text-align: center;
                    width: 55px;
                    color: $bc; 
                    height: 55px; 
                    background: #fff;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    padding: 0;
                    @include transition;
                    i:before{
                        line-height: 55px;
                        font-size: 25px;
                    }
                    &:hover, &:focus{
                        background: $bc;
                        color: #fff;
                    }
                }
            }
            
            
            &:hover, &:focus{ 
                &:before{
                    left: 50%;
                    opacity: 1;
                    z-index: 1;
                }
                &:after{
                    top: 0;
                    opacity: 1;
                }
                .portfolio_hover{
                    opacity: 1;
                    &:before{
                        top: 50%;
                        opacity: 1;
                    }
                    &:after{
                        left: 0;
                        opacity: 1;
                    }
                }   
            }
        }
    }
}
/* End Portfolio_grid */

/* Pg_2 */
.pg_2{
    .portfolio_tittle{
        padding: 0;
        display: block;
        overflow: hidden;
        padding-bottom: 75px;
        h2{
            max-width: 650px;
        }
    }
}
/* End pg_2 */

/* Portfolio_single */
.portfolio_single{
    display: block;
    overflow: hidden;
    padding: 200px 0 60px;
    h4{ 
        font: 700 18px/1 $nira;
        color: $heding;
        padding-bottom: 53px;
    }
    h2{
        font: 400 52px/62px $nira;
        color: $heding;
        padding-bottom: 80px;
        max-width: 560px;
    }
    .left_sidebar{
        img{
            max-width: 100%;
            margin-bottom: 40px;
        }
    }
    .right_sidebar{
        padding-left: 55px;
        h6{
            font: 700 18px/1 $nira;
            color: $heding;
            padding-bottom: 30px;
        }
        p{
            font-size: 18px;
            letter-spacing: 0.04px;
        }
    }
    .navication{
        padding-top: 100px;
        a{
            font: 400 21px/1 $nira;
            color: #282331;
            text-shadow: 0px 8px 4px rgba(71, 70, 72, 0.35);
            position: relative; 
            display: inline-block;
            &:after{ 
                content: '';
                position: absolute;
                left: 0; 
                width:0%;
                background: url("../images/nav-shap.png") no-repeat;
                height: 13px;
                bottom: -15px;
                border: 0; 
                margin: 0;  
            }
            &:hover, &:focus{  
                color: $bc;
                &:after{  
                    width: 100%; 
                }
            } 
            &:last-child{
                float: right;
            }
        }
    }
    
    .company_info{
        background: #f9f2ff;
        padding: 45px;
        margin-top: 80px;
        li{
            font: 400 18px/30px $nira;
            color: rgba(40, 35, 49, 0.702);
            border-bottom: 1px solid #fff;
            padding: 17px 0;
            &:last-child{
                border: 0;
            }
            b{
                color: $heding;
                min-width: 190px;
                display: inline-block;
            }
            a{
                color: rgba(40, 35, 49, 0.702);
                display: inline-block;
                &:hover, &:focus{
                    color: $bc;
                }
            }
        }
    }
    .socail_icons{
        padding-top: 70px;
        li{
            display: inline-block;
            padding-right: 25px;
            a{
                color: #bbb1c3;
                font-size: 24px; 
                font-family: "Font Awesome 5 Brands";
                line-height: 1;
                &:hover, &:focus{
                    color: $bc;
                }
            }
        }
    }
}
.ps_2{
    padding-top: 170px;
    .tittle_area{
        display: block;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .tittle{
        float: left;
    }
    .company_info{
        float: right;
        max-width: 430px;
        background-color: rgb(249, 242, 255);
        box-shadow: 0px 0px 45px 0px rgba(202, 202, 202, 0.35);
        margin: 0;
        position: relative;
        z-index: 1;
        margin-right: 30px;
    }
    .img_slide{
        margin-top: -100px;
        padding-bottom: 50px;
        .about_project{
            box-shadow: 0px 0px 45px 0px rgba(202, 202, 202, 0.35);
            background: #fff;
            max-width: 540px;
            padding: 60px 55px 30px 75px;
            margin-left: 30px;
            margin-top: -120px;
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
            h6{
                font: 700 18px/1 $nira;
                color: $heding;
                padding-bottom: 30px;
            }
            p{
                font-size: 18px;
                letter-spacing: 0.04px;
            }
            .socail_icons{
                padding-top: 50px;
                text-align: center;
            }
        } 
        /* Control */
        .nav_control{
            display: block;
            overflow: hidden;  
            text-align: right;
            padding-right: 135px;
            position: absolute;
            right: 0;
            bottom: 235px;
        } 
        .control-prev{
            color: $bc; 
            line-height: 68px;
            width: 84px;
            display: inline-block;
            text-align: right;
            padding-right: 15px;
            background: #fff;
            position: relative; 
            &:after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                border-style: solid; 
                border-width: 68px 30px 0 0;
                border-color: #fff transparent transparent transparent;
            }
            i:before{
                font-size: 43px;
                line-height: 68px;
                display: block;
                font-weight: 300;
            }
            &:hover, &:focus{
                background: $bc;
                color: #fff;
            }
        }
        .control-next{ 
            color: #fff; 
            line-height: 68px;
            width: 84px;
            display: inline-block; 
            padding-left: 15px;
            background: $bc;
            position: relative;
            text-align: left;
            &:after{
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                border-style: solid; 
                border-width: 0 30px 68px 0;
                border-color: transparent #fff transparent transparent;
            }
            i:before{
                font-size: 43px;
                line-height: 68px;
                display: block;
                font-weight: 300;
            }
        }
    }
    .images_gallery{
        img{
            max-width: 100%;
            margin-bottom: 40px;
        }
    }
}
/* End portfolio_single */
 
 
 